*.flatpak
.flatpak-builder/
repo/
build-dir/
user_data/
__pycache__/
*.py[cod]
*.so
decks/
backups/
*.json
*.zip
.vscode/
venv/

# AppImage Build Artifacts
linuxdeploy*.AppImage
linuxdeploy-root/
linuxdeploy-plugin-python-root/
AppDir/
*.AppImage
bin/
build/
*.egg-info/
