[Desktop Entry]
Name=FlipStack
Comment=Master any subject with Spaced Repetition
Exec=flipstack
Icon=io.github.dagaza.FlipStack
Type=Application
Terminal=false
Categories=Education;GTK;
Keywords=Flashcards;SRS;Learning;
StartupNotify=true
